* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --xsm-fs:16px;
    --sm-fs: 17px;
    --md-fs: 20px;
    --lg-fs: 30px;
    --xl-fs: 35px;
    --xxl-fs: 60px;
    
}