@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./root.css);

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

.container_css {
    max-width: 1320px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}



.smarter {
    max-width: 729px;
}

/* ----------color AND BACK GROUND---------- */
.bg_image {
    background-image: url(../image/png/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_body {
    background: #f1f3f6;
}
.vh_60{
    height: 60vh;
}

.bg_white {
    background: #FFFFFF;
}

.bg_gray_f6 {
    background: #F1F3F6;
}

.cl_white {
    color: #FFFFFF;
}

.cl_151 {
    color: #515151;
}

/* -----------font-family---------- */
.ff_Helvetica {
    font-family: 'Helvetica';
}

.ff_poppins {
    font-family: "Poppins", sans-serif;
}


/* -----------font-weight-------- */

.fw_400 {
    font-weight: 400;
}

.fw_500 {
    font-weight: 500;
}

.fw_600 {
    font-weight: 600;
}

.fw_700 {
    font-weight: 700;
}



/* ------font-size-------------- */


.fs_xsm {
    font-size: var(--xsm-fs)
}

.fs_sm {
    font-style: var(--sm-fs);
}

.fs_md {
    font-size: var(--md-fs);
}

.fs_lg {
    font-size: var(--lg-fs);
}

.fs_xl {
    font-size: var(--xl-fs);
}

.fs_xxl {
    font-size: var(--xxl-fs);
}
 /* MODIFY KULDEEP CLASES  */
ul li a:hover{
    color: black;
}
footer ul li:hover {
    cursor: pointer;
    
    
}
.contact_us {
    background: rgba(207, 207, 207, 0.22);
    border: 3px solid #FFFFFF;
    border-radius: 27px;
    padding: 13px 36px;
}
.contact_us:hover{
    color: black;
    border: 3px solid black;
    
}

.nav_sticky {
    position: sticky;
    top: 0;
}

.know {
    border: none;
    padding: 13px 36px;
    border-radius: 27px;
    transition: all 200ms linear;
}

.know:hover {
    color: #FFFFFF;
    background: black;
}

.text_jestify {
    text-align: justify;
}

.transform-50 {
    transform: translateY(30%);
}

/* .---we belive---- */
.belive {
    max-width: 742px;
}


.pt-6 {
    padding-top: 3.3rem !important;
}
/* MODIFY CLASSES PANKAJ */
.infobox {
padding: 52px 80px ;
background-color: #FFFFFF;
}

.section_transform {
    transform: none;
    padding: 100px;
}

.contact_btn {
    padding: 13px 36px;
    background-color: black;
    border-radius: 27px;
    color: #ffffff;
}

.contact_btn:hover {
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
}

.upperline {
    position: relative;
}

.upperline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    background-color: #ffffff;
    width: 100%;
}
/* .overflow_img_primary {
    position: absolute;
    display: flex;
    right: 0;
    padding: 0;

}

.overflow_img_secondary {
    position: absolute;
    display: flex;
    left: 0;
    padding: 0;
} */

.white_box_primary {
    background-color: white;
    padding: 54px 46px !important;
    border-radius: 39px 0px 0px 0px;
}

.white_box_secondary {
    background-color: white;
    padding: 43px 120px !important;
    border-radius: 0px 39px 0px 0px;
}
.white_box_3rd {
    background-color: white;
    padding: 43px 113px !important;
    border-radius: 39px 0px 0px 0px;
}

footer span img:hover{
    cursor: pointer;
}

/* PANKAJ MEDIA QUERY  */
@media (min-width:1300px) {
    .overflow_img_primary {
        position: absolute;
        display: flex;
        right: 0;
        padding: 0;
    
    }
    
    .overflow_img_secondary {
        position: absolute;
        display: flex;
        justify-content: center;
        left: 0;
        padding: 0;
    }
}

<<<<<<< HEAD
=======



@media (min-width:992px) {
    .section_transform {
        transform: translateY(-50%);
        padding: 100px;
    }
   
    
   
}
/* KULDEEP MEDIA QUERY  */
@media (max-width:992px) {
    .column_reverse{
        flex-direction: column-reverse;
    }
   
}

>>>>>>> 1baa8bacf09d218a817b429d2678dabdd95bb3af
@media (max-width: 768px) {
    .nav {
        position: absolute;
        top: 48px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color:black;
        opacity: 0.9;
        backdrop-filter: (100);
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 400ms linear;
    }

    .menu-icon {
        position: absolute;
        top: 0;
        right: 10px;
    }

    .show {
        left: 0;
    }

    .transform-50 {
        transform: translateY(0);
    }
}

@media (max-width:576px) {
    .fs_xxl {
        font-size: var(--xl-fs);
    }

    .fs_xl {
        font-size: var(--lg-fs);
    }
}
