@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./root.css);

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

.container_css {
    max-width: 1320px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 12px;
    padding-right: 12px;
}

.smarter {
    max-width: 729px;
}

/* ----------COLOR AND BACK GROUND---------- */
.bg_image {
    background-image: url(../image/png/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg_overflow_section {
    background-image: url(../image/png/bg_overflow_section.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.overflow_x_hidden{
    overflow-x: hidden;
}
.bg_body {
    background: #f1f3f6;
}

.vh_60 {
    height: 60vh;
}

.bg_white {
    background: #FFFFFF;
}

.bg_gray_f6 {
    background: #F1F3F6;
}

.cl_white {
    color: #FFFFFF;
}

.cl_151 {
    color: #515151;
}

/* ---FONT FAMILY--- */
.ff_Helvetica {
    font-family: 'Helvetica';
}

.ff_poppins {
    font-family: "Poppins", sans-serif;
}

/* --FONT WEIGHT -- */

.fw_400 {
    font-weight: 400;
}

.fw_500 {
    font-weight: 500;
}

.fw_600 {
    font-weight: 600;
}

.fw_700 {
    font-weight: 700;
}

/* ------FONT SIZE------ */


.fs_xsm {
    font-size: var(--xsm-fs)
}

.fs_sm {
    font-style: var(--sm-fs);
}

.fs_md {
    font-size: var(--md-fs);
}

.fs_lg {
    font-size: var(--lg-fs);
}

.fs_xl {
    font-size: var(--xl-fs);
}

.fs_xxl {
    font-size: var(--xxl-fs);
}

/* MODIFY KULDEEP CLASES  */

footer ul li:hover {
    cursor: pointer;
}

.mx-12 {
    margin-left: -12px !important;
    margin-right: -12px !important;
}

.img_1 {
    padding: 25px 40px;
    background: #FFFFFF;
    border-radius: 20px;
}

.img_2 {
    padding: 25px 40px;
    background: #FFFFFF;
    border-radius: 20px;
}

.img_3 {
    padding: 10px 10px;
    background: #FFFFFF;
    border-radius: 20px;
}

.contact_us {
    background: rgba(207, 207, 207, 0.22);
    border: 3px solid #FFFFFF;
    border-radius: 27px;
    padding: 13px 36px;
}

.contact_us:hover {
    color:  rgb(5, 5, 122);
}

.nav_sticky {
    position: sticky;
    top: 0;
}

.know {
    border: none;
    padding: 13px 36px;
    border-radius: 27px;
    transition: all 200ms linear;
}

.know:hover {
    color: #FFFFFF;
    background: black;
}

.text_jestify {
    text-align: justify;
}

.transform-50 {
    transform: translateY(30%);
}

/* .---we belive---- */
.belive {
    max-width: 742px;
}
.we_are{
    max-width:792px
}
.pt-6 {
    padding-top: 3.3rem !important;
}

/* MODIFY CLASSES PANKAJ*/
.infobox {
    padding: 52px 80px;
    background-color: #FFFFFF;
}

.section_transform {
    transform: none;
    padding: 80px;
}

ul li a:hover{
    color: rgb(5, 5, 122);
}

ul li:hover{
    font-weight: 700 !important;
    cursor: pointer;
}

.contact_btn {
    padding: 13px 36px;
    background-color: black;
    border-radius: 27px;
    color: #ffffff;
    border: 1px solid black;
}

.contact_btn:hover {
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
    transition: all 200ms linear;
}

.upperline {
    position: relative;
}

.upperline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    background-color: #ffffff;
    width: 100%;
}

.white_box_primary {
    background-color: white;
    padding: 54px 46px !important;
    border-radius: 39px 0px 0px 0px;
}

.white_box_secondary {
    background-color: white;
    padding: 43px 120px !important;
    border-radius: 0px 39px 0px 0px;
}

.white_box_3rd {
    background-color: white;
    padding: 43px 113px !important;
    border-radius: 39px 0px 0px 0px;
}

footer span img:hover {
    cursor: pointer;
    scale: 1.2;
}
    /* MEDIA QUERY */

@media (min-width:992px) {
    .overflow_img_primary {
       transform:translateX(14%) ;
    }

    .overflow_img_secondary {
        transform:translateX(-14%) ;
    }
   
}

@media (max-width:992px) {
    .column_reverse {
        flex-direction: column-reverse;
    }

    .white_box_primary {
        background-color: white;
        padding: 54px 46px !important;
        border-radius: 39px 0px 0px 0px;
    }

    .white_box_secondary {
        background-color: white;
        padding: 43px 120px !important;
        border-radius: 0px 39px 0px 0px;
    }

    .white_box_3rd {
        background-color: white;
        padding: 43px 113px !important;
        border-radius: 39px 0px 0px 0px;
    }

}

@media (max-width: 768px) {
    .nav {
        position: absolute;
        top: 40px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: url(../image/png/bg-image.png);
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 400ms linear;
    }

    .menu-icon {
        position: absolute;
        top: 0;
        right: 10px;
    }

    .show {
        left: 0;
    }

    .transform-50 {
        transform: translateY(0);
    }

    .column_md_reverse {
        flex-direction: column-reverse;
    }

    .white_box_primary {
        padding: 20px 30px !important;
    }

    .white_box_secondary {
        padding: 20px 40px !important;
    }

    .white_box_3rd {
        padding: 20px 40px !important;
    }
}

@media (max-width:576px) {
    .white_box_primary {
        padding: 10px 15px !important;
    }

    .white_box_secondary {
        padding: 10px 20px !important;
    }

    .white_box_3rd {
        padding: 10px 20px !important;
    }
}

@media (min-width: 576px) {
    .img_1 {
        padding: 43px 109px;
        background: #FFFFFF;
        border-radius: 39px 39px 39px 39px;
    }

    .img_2 {
        padding: 43px 118px;
        background: #FFFFFF;
        border-radius: 39px 39px 39px 39px;
    }


    .img_3 {
        padding: 46px 54px;
        background: #FFFFFF;
        border-radius: 39px 39px 39px 39px;
    }

}

@media (min-width: 1200px) {
    .card_1 {
        position: absolute;
        right: 0;
        display: inline-block;
    }

    .img_1 {
        padding: 43px 109px;
        background: #FFFFFF;
        border-radius: 39px 0px 0px 0px;
    }

    .h-500 {
        height: 400px;
    }

    .card_2 {
        position: absolute;
        left: 0;
        top: 40px;
    }

    .img_2 {
        padding: 43px 118px;
        background: #FFFFFF;
        border-radius: 0px 39px 0px 0px;
    }

    .img_3 {
        padding: 46px 54px;
        background: #FFFFFF;
        border-radius: 39px 0px 0px 0px;
    }

    .section_transform {
        transform: translateY(-50%);
        padding: 80px;
    }
    .row_overflow_translatey{
        transform: translateY(-50%);
    }
}