@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none;
    box-sizing: border-box;
}

.container_css {
    max-width: 1320px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.bg_img2 {
    background-image: url(../image/png/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.bg_body {
    background: #F1F3F6;
}

/* MODIFY CLASSES  */
.section_transform {
    transform: translateY(-50%);
    padding: 100px;

}
.white_box{
    background-color: white;
    padding: 54px 46px;
    border-radius: 39px 0px 0px 0px;
}
.contact_btn{
    padding: 13px 36px;
    background-color: black;
    border-radius: 27px;
    color:#ffffff;

}
.contact_btn:hover{
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
}


/* FONT CLASSES  */
.ff_popins {
    font-family: 'Poppins', sans-serif;
}

.fs_xsm {
    font-size: 16px;
}

.fs_sm {
    font-size: 17px;
}

.fs_md {
    font-size: 20px;
}

.fs_lg {
    font-size: 35px;
}

.fs_xl {
    font-size: 60px;
}